# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# Pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# dotenv
.env

# Common data and model folders
ml_models/
static/
data/

# Model files
*.h5
*.pth
*.pt

# OS files
Thumbs.db

